.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #ccc;
}

.accordion:after {
	content: "\02795";
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.orders {
	border-color: black;
/*border-spacing: 10px;*/
}

th, td {
	padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chart-container {
	display: block
	height: 40vh;
	width: 80vh;
}
